{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span4 offset4">
    <img src="{{ MEDIA_URL }}{{ libro.portada }}" class="img-polaroid" width="100">
    <h2>{{ libro }}</h2>
    <p>{{ libro.descripcion|safe }}</p>
    <strong>Capítulos</strong>
    <ul>
      {% for capitulo in libro.capitulos.all %}
        <li>{{ capitulo }} <a href="" class="btn btn-small"><i class="icon-download"></i></a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
