{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span4 offset4">
    <img src="{{ MEDIA_URL }}{{ libro.portada }}" class="img-polaroid">
    <h2>{{ libro }}</h2>
    <p class="muted"><small><a href="{% url 'apps.libro.views.material' %}">volver al catálogo</a></small></p>
    <p>{{ libro.descripcion|safe }}</p>
    <h3>$ {{ libro.costo }}</h3>
    <p class="center">
      <a href="#modal-deposito" role="button" class="btn btn-large btn-primary" data-toggle="modal">Comprar</a>
    </p>
  </div>
  {% include 'libro/modal_compra.html' %}
{% endblock %}
