{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Material de preparación {% endblock %}
{% block contenido %}
  <div class="span12">
    <h3>Material de preparación <small>Libros y quizá otras cosas útiles para ti, tus alumnos y mascotas</small></h3>
    <div class="row-fluid">
      <div class="span12">
        <ul class="thumbnails">
          {% for libro in libros %}
            <li class="span4">
              <div class="thumbnail">
                <img src="{{ MEDIA_URL }}{{ libro.portada }}" alt="">
                <h3><a href="{% url 'apps.libro.views.libro' libro.id %}">{{ libro }}</a></h3>
                <p>{{ libro.descripcion|safe }}</p>
                {% if user.is_authenticated %}
                  <a href="#modal-deposito" role="button" class="btn btn-large btn-primary" data-toggle="modal">$ {{ libro.costo }}Comprar</a>
                {% else %}
                  <button class="btn btn-large disabled">Inicia sesión para comprar</button>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div id="modal-deposito" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modo de compra</h3>
      </div>
      <div class="modal-body">
        <p>Por el momento la forma de hacer la compra es haciendo un depósito a la siguiente cuenta:</p>
        <p style="font-family:monospace; font-weight:bold; font-size:24px;">5256 7880 4196 3794</p>
        <p><img src="{% static 'img/banamex.png' %}"></p>
        <p>Por el total de la compra, y enviar una copia de la ficha de depósito al correo <a href="mailto:juvencio@covi.org.mx">juvencio@covi.org.mx</a> junto con la cantidad de libros que quieres comprar</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Entendido!</button>
      </div>
    </div>
  {% endif %}
{% endblock %}
