{% load staticfiles %}
<div id="modal-deposito" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modo de compra</h3>
  </div>
  <div class="modal-body">
    <p>Por el momento la forma de hacer la compra es haciendo un depósito a la siguiente cuenta:</p>
    <p style="font-family:monospace; font-weight:bold; font-size:24px;">5256 7880 4196 3794</p>
    <p><img src="{% static 'img/banamex.png' %}"></p>
    <p>Por el total de la compra, y enviar una copia de la ficha de depósito al correo <a href="mailto:juve.nolasco@gmail.com">juve.nolasco@gmail.com</a> junto con la cantidad de libros que quieres comprar</p>
    <p>Hecha la compra recibirás por correo un código con el cual podrás activar el libro y los problemas que se incluyen con él. Así como participar en concursos especiales para quienes tienen el libro.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal">Entendido!</button>
  </div>
</div>
