{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span12">
    <h2>El zen de karel</h2>
    <ul>
        <li>Explícito es mejor que implícito.</li>
        <li>Simple es mejor que complejo.</li>
        <li>La legibilidad cuenta.</li>
        <li>Los casos especiales no son suficientemente especiales para romper las reglas.</li>
        <li>Sin embargo, lo práctico gana a la pureza.</li>
        <li>Al enfrentar la ambigüedad, rechaza la tentación de adivinar.</li>
        <li>Ahora es mejor que nunca.</li>
        <li>Aunque 'nunca' es a veces mejor que *justo* ahora.</li>
        <li>Si la implementación es difícil de explicar, es una mala idea.</li>
        <li>Si la implementación es fácil de explicar, quizá sea una buena idea.</li>
        <li>Infinitos zumbadores en la mochila no son tantos para hacer un problema imposible.</li>
        <li>Las paredes son útiles, úsalas.</li>
    </ul>
  </div>
{% endblock %}
