body{
  background-image: url('../img/bg.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
textarea{
  font-family: monospace;
}
dd.faq{
  margin-bottom: 30px;
}
i.question{
	background-image: url('../img/question.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}
ul.errorlist > li{
	font-size: 10px;
	color: red;
}