body{
    background-image: url('../img/bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
textarea{
    font-family: monospace;
}
dd.faq{
    margin-bottom: 30px;
}
i.question{
    background-image: url('../img/question.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
ul.errorlist > li{
    font-size: 10px;
    color: red;
}
.tabla-casos{
    font-size: 12px;
}
.center{
    text-align:center !important;
}
#pie{
    background-image:url('../img/kareld.png');
    background-repeat:no-repeat;
    background-position: left bottom;
}
.consulta-bad{
    background-color: #FFFBDC;
    border-top: 2px solid #FFBEBE;
    border-bottom: 2px solid #FFBEBE;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.consulta{
    background-color: #E5FDEB;
    border-top: 2px solid #8BB496;
    border-bottom: 2px solid #8BB496;
    padding: 0px 10px;
    margin-bottom: 10px;
}
#consultas{
    overflow: auto;
    max-height: 300px;
}
.mensaje-consulta{
    width: 90%;
}
.chico{
    font-size: 14px;
}
#kworld, #ksolution{
    height:400px;
    background-color:#7F4646;
}
#bg-anim{
    background-image: url('../img/bg-inicio.png');
    background-repeat: repeat-x;
}
#bg-anim > .span12{
    background-image: url('../img/bg-inicio2.png');
    background-repeat: repeat-x;
}
#profile-m{
    width: 50px;
    height: 40px;
    background-image: url('../img/medallas_small.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
}
