{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span12">
    <h3>Concursos activos</h3>
    <p>A continuaci&oacute;n aparecen algunos concursos en los que puedes participar y obtener puntajes para etapas posteriores o simplemente para medirte en tiempo real con otros usuarios de este evaluador en l&iacute;nea.</p>
    {% for concurso in concursos %}
      <div class="well well-small">
        <p class="lead">{{ concurso }}</p>
        <p>{{ concurso.descripcion }}</p>
        <h4>
          Quedan {{ concurso.quedan_dias }}{{ concurso.quedan_horas }}{{ concurso.quedan_minutos }}{{ concurso.quedan_segundos }}
          <a href="{% url 'apps.sitio.views.concurso_view' concurso.id %}" class="btn btn-success">Participar</a>
        </h4>
      </div>
    {% empty %}
      <div class="well well-small">
        <p class="lead">No hay concursos activos en este momento</p>
      </div>
    {% endfor %}
    {% if perms.evaluador.puede_ver_ranking %}
      <h3>Todos los concursos <small>Para ti que tienes permiso de verlos</small></h3>
      {% for concurso in concursos_todos %}
        <div class="well well-small">
          <p class="lead">{{ concurso }} <small class="muted">Grupos: {{ concurso.lista_grupos }}</small></p>
          <p>{{ concurso.descripcion }}</p>
          <h4><small>Desde</small> {{ concurso.fecha_inicio}} <small>hasta</small> {{ concurso.fecha_fin }}</h4>
          <div class="white">
            <strong>Problemas</strong>
            <ul>
              {% for problema in concurso.problemas.all %}
                <li><a href="">{{ problema }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% empty %}
        <div class="well well-small">
          No hay concursos viejos o así.
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
