{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Concursos {% endblock %}
{% block contenido %}
  <div class="span12">
    <h3>Concursos activos</h3>
    <p>A continuaci&oacute;n aparecen algunos concursos en los que puedes participar y obtener puntajes para etapas posteriores o simplemente para medirte en tiempo real con otros usuarios de este evaluador en l&iacute;nea.</p>
    {% for concurso in concursos %}
      <div class="well well-small">
        <p class="lead">
          {{ concurso }}
        </p>
        <p>{{ concurso.descripcion }}</p>
        <h4>
          {% if concurso.en_curso %}Quedan{% else %}Faltan{% endif %} {{ concurso.tiempo_restante }}
          {% if concurso.en_curso %}
            <a href="{% url 'apps.sitio.views.concurso_view' concurso.id %}" class="btn btn-success">Participar</a>
          {% else %}
            <a href="#" class="btn btn-success disabled">Espera a que llegue la hora para participar</a>
          {% endif %}
        </h4>
      </div>
    {% empty %}
      <div class="well well-small">
        <p class="lead">No hay concursos en los que puedas participar en este momento</p>
      </div>
    {% endfor %}
    {% if perms.evaluador.puede_ver_ranking %}
      <h3>Todos los concursos <small>Para ti que tienes permiso de verlos</small></h3>
      {% for concurso in concursos_todos %}
        <div class="well well-small">
          <p class="lead">
            {{ concurso }} <small class="muted">Grupos: {{ concurso.lista_grupos }}
            {% if concurso.activo %}
              <span class="text-success">activo</span>
            {% else %}
              <span class="text-error">inactivo</span>
            {% endif %}</small>
          </p>
          <p>
            {{ concurso.descripcion }}
            <strong><a href="{% url 'apps.sitio.views.concurso_ver_ranking' concurso.id %}">ranking</a></strong>
            /
            <strong><a href="{% url 'apps.sitio.views.concurso_ver_consultas' concurso.id %}">preguntas</a></strong>
          </p>
          <h4><small>Desde</small> {{ concurso.fecha_inicio}} <small>hasta</small> {{ concurso.fecha_fin }}</h4>
          <div class="white">
            <strong>Problemas</strong>
            <ul>
              {% for problema in concurso.problemas.all %}
                <li><a href="{% url 'apps.sitio.views.problema_detalle' problema.nombre_administrativo %}">{{ problema }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% empty %}
        <div class="well well-small">
          No hay concursos viejos o así.
        </div>
      {% endfor %}
      <div class="pagination pagination-centered">
        <ul>
          <li><a href="{% url 'apps.sitio.views.concursos_view' %}">Últimos</a></li>
          {% if concursos_todos.has_previous %}
            <li><a href="{% url 'apps.sitio.views.concursos_view' %}?pagina={{ concursos.previous_page_number }}">Más recientes</a></li>
          {% else %}
            <li class="disabled"><a>Más recientes</a></li>
          {% endif %}
          <li class="active"><a>{{ concursos_todos.number }}</a></li>
          {% if concursos_todos.has_next %}
            <li><a href="{% url 'apps.sitio.views.concursos_view' %}?pagina={{ concursos_todos.next_page_number }}">Más viejos</a></li>
          {% else %}
            <li class="disabled"><a>Más viejos</a></li>
          {% endif %}
          <li><a href="{% url 'apps.sitio.views.concursos_view' %}?pagina={{ concursos_todos.paginator.num_pages }}">Primeros</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
