{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span3"></div>
  <div class="span6">
    <h3>Concursos activos</h3>
    <p>A continuaci&oacute;n aparecen algunos concursos en los que puedes participar y obtener puntajes para etapas posteriores o simplemente para medirte en tiempo real con otros usuarios de este evaluador en l&iacute;nea.</p>
    {% for concurso in concursos %}
      <div class="well well-small">
        <p class="lead">{{ concurso }}</p>
        <p>{{ concurso.descripcion }}</p>
        <h4>Quedan [tiempo restante]</h4>
        <form method="post" action="{% url 'apps.sitio.views.concurso_participar' %}">
          <input type="hidden" name="concurso" value="{{ concurso.id }}">
          <input type="submit" class="btn btn-success" value="Participar!">
          {% if perms.evaluador.puede_ver_ranking %}
            <a href="{% url 'apps.sitio.views.concurso_ver_ranking' concurso.id %}" class="btn btn-info">Ver ranking</a>
          {% endif %}
        </form>
      </div>
    {% endfor %}
    {% if perms.evaluador.puede_ver_ranking %}
      <h3>Concursos para otros tiempos o deshabilitados</h3>
      {% for concurso in concursos %}
        <div class="well well-small">
          <p class="lead">{{ concurso }}</p>
          <p>{{ concurso.descripcion }}</p>
          <h4>desde [fecha inicio] hasta [fecha fin]</h4>
          <form method="post" action="{% url 'apps.sitio.views.concurso_participar' %}">
            <input type="hidden" name="concurso" value="{{ concurso.id }}">
            <input type="submit" class="btn btn-success" value="Ver problemas">
            {% if perms.evaluador.puede_ver_ranking %}
              <a href="{% url 'apps.sitio.views.concurso_ver_ranking' concurso.id %}" class="btn btn-info">Ver ranking</a>
            {% endif %}
          </form>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="span3"></div>
{% endblock %}
