{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Consultas {% endblock %}
{% block contenido %}
  <div class="span12">
    <h3>Preguntas que hacen los usuarios en el concurso <em>{{ concurso }}</em></h3>
    <input type="hidden" id="id_concurso" value="{{ concurso.id }}">
    <div id="consultas-admin">
      <div class="consulta">
        <form id="aclaracion-general" method="post">
          <h5>
            Hacer aclaración general para el problema:
            <select name="problema">
              {% for problema in concurso.problemas.all %}
                <option value="{{ problema.id }}">{{ problema }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="concurso" value="{{ concurso.id }}"><br>
            <textarea name="respuesta" class="input-xxlarge" placeholder="Detalle de la aclaración"></textarea>
            <input type="submit" value="Enviar" class="btn btn-info">
            <input type="reset" id="reset-aclaracion" style="display:none;">
          </h5>
        </form>
      </div>
      <div id="mensajes" class="alert" style="display:none;"></div>
      {% for consulta in consultas %}
        {% if consulta.leido and not consulta.descartado %}
          <div class="consulta">
            <input type="hidden" class="consulta-id" value="{{ consulta.id }}">
            <h5>{{ consulta.mensaje }} <span class="muted">Problema: {{ consulta.problema }}, Usuario: {{ consulta.usuario }}</span> {{ consulta.hora }}</h5> {{ consulta.respuesta }}
          </div>
        {% else %}{% if consulta.descartado %}
          <div class="consulta-bad">
            <input type="hidden" class="consulta-id" value="{{ consulta.id }}">
            <h5>{{ consulta.mensaje }} <span class="muted">Problema: {{ consulta.problema }}, Usuario: {{ consulta.usuario }}</span> {{ consulta.hora }}</h5> <span class="text-error">Rechazada</span>
          </div>
        {% else %}
          <div class="consulta-bad">
            <input type="hidden" class="consulta-id" value="{{ consulta.id }}">
            <h5>{{ consulta.mensaje }} <span class="muted">Problema: {{ consulta.problema }}, Usuario: {{ consulta.usuario }}</span> {{ consulta.hora }}</h5>
            <form class="responde-consulta" method="post" onsubmit="return envia_respuesta(this);">
              <div class="components">
                <textarea class="input-xxlarge" rows="3" name="respuesta"></textarea>
                <input type="hidden" name="consulta" value="{{ consulta.id }}">
                <input type="hidden" name="rechazar" class="rechazar-hidden">
                <input type="submit" value="Enviar" class="btn">
                <input type="button" value="Rechazar" class="rechazar-consulta btn btn-danger" onclick="rechaza_respuesta(this);">
              </div>
            </form>
          </div>
        {% endif %}{% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
