{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Envíos {% endblock %}
{% block contenido %}
  <div class="span12">
      <h3>Problemas enviados por los usuarios <small><a href="{% url 'apps.sitio.views.mis_soluciones_view' %}">Ver s&oacute;lo las m&iacute;as</a></small></h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Usuario</th>
            <th>Problema</th>
            <th>Puntos</th>
            <th>Tiempo Ejecuci&oacute;n</th>
            <th>Terminaci&oacute;n/Mensaje</th>
            <th>Hora</th>
          </tr>
        </thead>
        <tbody>
        {% for envio in envios %}
          <tr class="{% ifnotequal envio.estatus 'E' %}info{% else %}{% ifequal envio.resultado 'OK' %}success{% endifequal %}{% ifequal envio.resultado 'CASOS_INCOMPLETOS' %}warning caso-incompleto{% endifequal %}{% ifequal envio.resultado 'ERROR_COMPILACION' %}error{% endifequal %}{% endifnotequal %}">
            <td>{% ifequal envio.estatus 'E' %}<i class="icon-ok" title="Código evaluado"></i>{% else %}{% ifequal envio.estatus 'P' %}<i class="icon-pause" title="Pendiente de evaluación"></i>{% else %}<i class="icon-eye-open" title="Código en evaluación"></i>{% endifequal %}{% endifequal %}</td>
            <td><a href="{% url 'apps.sitio.views.usuario_view' envio.usuario.id %}" class="preventpropagation">{{ envio.usuario.nombre }}</a></td>
            <td><a href="{% url 'apps.sitio.views.problema_detalle' envio.problema.nombre_administrativo %}" class="preventpropagation">{{ envio.problema }}</a></td>
            <td>{% ifequal envio.estatus 'E' %}{{ envio.puntaje }}{% endifequal %}</td>
            <td>{% ifequal envio.estatus 'E' %}{{ envio.tiempo_ejecucion }}{% endifequal %}</td>
            <td>
              {% ifequal envio.estatus 'E' %}<a href="#" class="casos-evaluacion">{{ envio.resultado }}</a> {{ envio.mensaje }}
                {% if envio.resultado == 'CASOS_INCOMPLETOS' or envio.resultado == 'OK' %}
                  <table class="table tabla-casos" style="display:none;">
                    <thead>
                      <tr>
                        <td>Caso</td>
                        <td>Puntos</td>
                        <td>Terminación</td>
                        <td>Mensaje</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for caso in envio.lee_casos %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ caso.puntos_obtenidos }}</td>
                          <td>{{ caso.terminacion }}</td>
                          <td>{{ caso.mensaje }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
              {% else %}
                <a class="btn casos-pendiente"><i class="icon-remove"></i></a>
              {% endifequal %}
            </td>
            <td>{{ envio.hora }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
