{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span8">
    <img src="{% static 'img/cover800x150.png' %}" class="">
    <p>Si no sabes qué hacer <strong><a href="{% url 'apps.sitio.views.problemas_view'%}">ve a la lista de problemas =)</a></strong> Si quieres aprender a programar en karel puedes <a href="/wiki">comenzar aquí</a></p>
    <div class="row-fluid">
      <div class="span3">
        <img src="{% static 'img/medallas.png' %}">
      </div>
      <div class="span9">
        <h3>Medallas</h3>
        <p>Mantente al tanto del proceso del <a href="http://covi.org.mx">Concurso veracruzano de informática</a> en la sección del <a href="/medallero/">medallero</a></p>
      </div>
    </div>
    <h3>¡Apóyanos!</h3>
    <p>Karelapan, KarelCore, el demonio de karel y el resto de las magias de este sitio fueron desarrolladas por amor al arte (de hecho por amor a la programación), puedes apoyar el desarrollo de estos proyectos haciendo alguna donación a esta noble causa =)</p>
    <p><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="GTSS93V466D9Q">
  <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
  <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
  </form>
  </p>
    <h3>Agradecimiento</h3>
    <p>A nombre de todo (el enorme) el equipo de desarrollo de Karelapan, quiero agradecer a la hermana rep&uacute;blica de <i class="icon-flag"></i> <a href="http://www.cmirg.com/karelotitlan/" target="_blank">Karelotitl&aacute;n</a> <i class="icon-flag"></i> por permitirme usar los problemas ah&iacute; empleados, sin ellos este asunto se ver&iacute;a bastante vac&iacute;o.</p>
    <h3>&iquest;Qu&eacute; cosa es Karel?</h3>
    <p style="text-align:justify;">Karel el robot es un peque&ntilde;o proyecto y una obsesi&oacute;n. Sin duda naci&oacute; de un delirio de grandeza, y ahora est&aacute; aqu&iacute;, para ser &uacute;til en tu formaci&oacute;n como programador, o quiz&aacute; para entretenerte un rato con problemas interesantes.</p>
    <p>Se trata de un lenguaje de programaci&oacute;n orientado al aprendizaje de la programaci&oacute;n, con una sintaxis m&iacute;nima y sencilla, f&aacute;cil de aprender, e instrucciones b&aacute;sicas de lo m&aacute;s reducidas, con las cuales se pueden resolver problemas monstruosos.</p>
    <p>Usando karel puedes aprender t&eacute;cnicas, mejorarlas o ponerte retos bastante interesantes, creo que basta con echarle un ojo a la lista de problemas para darse cuenta de eso.</p>
    <h3>El proyecto</h3>
    <p>Este proyecto pretende motivar el uso de Karel como plataforma para el aprendizaje de la programaci&oacute;n, o simplemente para retar tus conocimientos de las estructuras de control y otras cosas.</p>
    <h3>&iquest;Caprichudo?</h3>
    <p>Si no te gusta c&oacute;mo funciona alguna parte de la p&aacute;gina, crees que podr&iacute;a funcionar mejor o tienes algunas ideas &iexcl;Avientalas! Aqu&iacute; te las recibimos y si se ven buenas las implementamos. Escribe a <a href="mailto:{{ CA }}">{{ CA }}</a></p>
    <h3>&iquest;Eres desarrollador?</h3>
    <p>Aqu&iacute; hay proyectos de sobra, si le sabes a cosas como Python, Java, PHP, Bases de datos, GTK, Qt, Django, Bootstrap, Javascript, SVG, C# entonces aqu&iacute; hay proyectos para t&iacute;.</p>
  </div>
  <div class="span4">
    <h4>Noticias</h4>
    {% for noticia in noticias %}
      <div class="well well-small">
        {% if noticia.titulo %}<strong>{{ noticia.titulo }}</strong><br>{% endif %}
        {% if noticia.pegajoso %}<i class="icon-fire"></i>{% else %}<i class="icon-star-empty"></i>{% endif %} {{ noticia.contenido|safe }} <small><a href="/usuarios/ver/{{ noticia.autor.id }}">{{ noticia.autor }}</a></small><br>
        <small>{{ noticia.fecha }}</small>
      </div>
    {% endfor %}
  </div>
{% endblock %}
