{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} {{ usuario }} {% endblock %}
{% block contenido %}
  <div class="span2"></div>
  <div class="span8">
    <div class="row-fluid">
      <div class="span2">
        <img src="{{ usuario.gravatar }}">
        <small><a href="http://es.gravatar.com" target="_blank">cambiar</a></small>
      </div>
      <div class="span10">
        <h3>{{ usuario }} <small>De {{ usuario.estado }}</small></h3>
        <p><em><a href="mailto:{{ usuario.correo }}">{{ usuario.correo }}</a></em></p>
        <p>{{ usuario.descripcion }}</p>
        <p><small>{% if usuario.asesor %}{% ifequal usuario.asesor.sexo 'M' %}Asesor{% else %}Asesora{% endifequal %}: <a href="{% url 'apps.sitio.views.usuario_view' usuario.asesor.id %}">{{ usuario.asesor }}</a>{% endif %}</small></p>
      </div>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sobre_mi" data-toggle="tab">Sobre mí</a></li>
        <li><a href="#problemas" data-toggle="tab">Problemas</a></li>
        <li><a href="#contrasenia" data-toggle="tab">Cambia tu contraseña</a></li>
        <li><a href="#perfil_editar" data-toggle="tab">Edita tus datos</a></li>
        {% if asesorados.len != 0 %}
          <li><a href="#asesorados" data-toggle="tab">Asesorados</a></li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="sobre_mi">
          <p><strong>Pertenece a los grupos</strong> {{ usuario.lista_grupos }}</p>
          <p>
            Has obtenido {{ usuario.puntaje }} puntos en este evaluador desde el <em>{{ usuario.fecha_registro }}</em> (Cuando te registraste)<br>
            Resolviste {{ usuario.problemas_resueltos }} {% ifequal usuario.problemas_resueltos 1 %}problema{% else %}problemas{% endifequal %} desde entonces.
          </p>
        </div>
        <div class="tab-pane" id="problemas">
          <h4>Problemas resueltos por ti <small><a href="/mis_soluciones">Ver mis soluciones</a></small></h4>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Problema</th>
                <th>Mejor tiempo</th>
                <th>Tu tiempo</th>
              </tr>
            </thead>
            <tbody>
              {% for problema in usuario.lista_problemas_resueltos %}
                <tr>
                  <td>{{ problema.nivel }}</td>
                  <td><a href="{% url 'apps.sitio.views.problema_detalle' problema.nombre_administrativo %}">{{ problema }}</a></td>
                  <td>{{ problema.mejor_tiempo }}</td>
                  <td>{{ problema.mejor_tiempo_usuario }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4">¡No has resuelto ningún problema!</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <h4>Problemas intentados por ti</h4>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Problema</th>
                <th>Puntaje</th>
              </tr>
            </thead>
            <tbody>
              {% for problema in usuario.lista_problemas_intentados %}
                <tr>
                  <td>{{ problema.nivel }}</td>
                  <td><a href="{% url 'apps.sitio.views.problema_detalle' problema.nombre_administrativo %}">{{ problema }}</a></td>
                  <td>{% autoescape off %}{{ problema.mejor_puntaje_usuario }}{% endautoescape %}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">Tal parece que no has dejado ningún problema a medias...</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="contrasenia">
          <form class="form-horizontal" method="post" action="{% url 'apps.sitio.views.internal_change_pass' %}">
            {% csrf_token %}
            <div class="control-group">
              <label class="control-label" for="contrasenia">Contraseña anterior</label>
              <div class="controls">
                <input type="password" name="old" id="pass_anterior" placeholder="123pase">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="pass">Nueva contraseña</label>
              <div class="controls">
                <input type="password" name="pass1" id="pass" placeholder="123pase">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="pass_repeat">Repetir contraseña</label>
              <div class="controls">
                <input type="password" name="pass2" id="pass_repeat" placeholder="123pase">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="submit" class="btn btn-success" value="Cambiar">
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="perfil_editar">
          <strong>Información de tu perfil</strong> A continuación están los datos que nos proporcionaste, aquí puedes
          actualizar la información de ser necesario. No olvides consultar el
          <a href="{% url 'apps.sitio.views.privacidad_view' %}">aviso de privacidad</a><br><br>
          <form class="form-horizontal" method="post" action="./">
            {% csrf_token %}
            {% for elemento in formulario %}
              <div class="control-group">
                <label class="control-label" for="id_{{ elemento.html_name }}" id="{{ elemento.html_name }}_label">{{ elemento.label }}</label>
                <div class="controls">
                  {{ elemento }}
                  {% if elemento.errors %}
                    <ul class="unstyled errorlist">
                    {% for error in elemento.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-large btn-info">Guardar</button>
              </div>
            </div>
          </form>
          <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Baja del sistema</h4>
            ¿Lo has pensado una y mil veces? Si es así, puedes darte de baja del sistema haciendo click <a href="{% url 'apps.sitio.views.baja' %}" onclick="return confirm('¿Continuar?');">aquí U.u</a>.<br>
            Esto ocasionará que pierdas todos tus puntos en los problemas que hayas resuelto... Piénsalo dos veces más =)
          </div>
        </div>
        {% if asesorados.len != 0 %}
          <div class="tab-pane" id="asesorados">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Puntaje</th>
                  <th>Problemas resueltos</th>
                </tr>
              </thead>
              <tbody>
                {% for alumno in asesorados %}
                  <tr>
                    <td><a href="{% url 'apps.sitio.views.usuario_view' alumno.id %}"><img src="{{ alumno.gravatar_pequenio }}"> {{ alumno }}</a></td>
                    <td><a href="mailto:{{ alumno.correo }}">{{ alumno.correo }}</a></td>
                    <td>{{ alumno.puntaje }}</td>
                    <td>{{ alumno.problemas_resueltos }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="span2"></div>
{% endblock %}
