{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Problemas {% endblock %}
{% block contenido %}
  <div class="span4">
    <div class="well">
      <strong>Datos sobre el problema:</strong>
      <dl class="dl-horizontal">
        <dt>Resuelto</dt>
        <dd>{{ problema.veces_resuelto }} {% ifequal problema.veces_resuelto 1 %}vez{% else %}veces{% endifequal %}</dd>
        <dt>Intentado</dt>
        <dd>{{ problema.veces_intentado }} {% ifequal problema.veces_intentado 1 %}vez{% else %}veces{% endifequal %}</dd>
        <dt>Mejor tiempo:</dt>
        <dd>{% ifequal problema.mejor_tiempo -1 %}---{% else %}{{ problema.mejor_tiempo }}{% endifequal %} <abbr title="Milisegundos">ms</abbr></dd>
      </dl>
      {% if user.is_authenticated %}
        <strong>Mis intentos:</strong>
        <dl class="dl-horizontal">
          <dt>Mejor puntaje</dt>
          <dd>{{ mejor_puntaje }}</dd>
          <dt>Primer puntaje</dt>
          <dd>{{ primer_puntaje }}</dd>
          <dt>Intentos</dt>
          <dd>{{ intentos }}</dd>
          <dt>Mejor tiempo</dt>
          <dd>{{ mejor_tiempo }} <abbr title="Milisegundos">ms</abbr></dd>
        </dl>
      {% endif %}
    </div>
    <div class="well">
      {% if FB %}
      <div class="fb-like" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true" data-font="segoe ui"></div>
      <div>
          <br><a href="https://twitter.com/share" class="twitter-share-button" data-via="Karelapan" data-lang="es" data-size="large" data-hashtags="Karel">Twittear</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
      <div class="well">
        <p>
          <strong>Usuarios que han resuelto este problema</strong>
        </p>
        <div style="max-height:300px; overflow:auto;">
          <table class="table table-striped table-hover">
            <tbody>
              {% for usuario in usuarios_resuelto %}
                <tr>
                  <td><a href="{% url 'apps.sitio.views.usuario_view' usuario.id %}"><img src="{{ usuario.gravatar_pequenio }}"> {{ usuario }}</a></td>
                </tr>
              {% empty %}
                <tr>
                  <td>Nadie ha resuelto este problema</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="well">
        <p>
          <strong>Usuarios que han intentado este problema</strong>
        </p>
        <div style="max-height:300px; overflow:auto;">
          <table class="table table-striped table-hover">
            <tbody>
              {% for usuario in usuarios_intentado %}
                <tr>
                  <td><a href="{% url 'apps.sitio.views.usuario_view' usuario.id %}"><img src="{{ usuario.gravatar_pequenio }}"> {{ usuario }}</a></td>
                </tr>
              {% empty %}
                <tr>
                  <td>Nadie ha intentado este problema</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="span8">
    <div id="problem_debug">
      {% if problem_debug %}
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ problem_debug }}
        </div>
      {% endif %}
    </div>
    <div id="veredict">
      {% if veredict %}
        <div class="well well-small">
          <table class="table">
            <tr>
              <th>#</th><th>Terminaci&oacute;n</th><th>Mensaje</th><th>Puntos</th>
            </tr>
            {% for caso in veredict %}
              <tr>
                <td>{{ forloop.counter }}</td><td>{{ caso.terminacion }}</td><td>{{ caso.mensaje }}</td><td>{{ caso.obtenidos }}/{{ caso.puntos }}</td>
              </tr>
            {% endfor %}
            <tr>
              <td colspan="3"></td>
              <td><strong>Total: {{ puntaje }}/{{ total }}</strong></td>
            </tr>
          </table>
        </div>
      {% endif %}
    </div>
    <h3>{{ problema.nombre }}<input type="hidden" name="id_problema" value="{{ problema.id }}" id="id_problema"></h3>
    <small><a href="/problemas">Volver a la lista de problemas</a></small><br><br>
    <p>{{ problema.descripcion }}</p>
    <h4>Problema</h4>
    <p>{{ problema.problema }}</p>
    <h4>Consideraciones</h4>
    <p>
      <ul>
        {% for consideracion in problema.consideracion_set.all %}
          <li>{{ consideracion }}</li>
        {% endfor %}
      </ul>
    </p>
    <h5>Ejemplo</h5>
    <div class="row">
      <div id="kworld" class="span8"></div>
    </div>
    <h5>Soluci&oacute;n al mundo de ejemplo</h5>
    <div class="row">
      <div id="ksolution" class="span8"></div>
    </div>
    {% if problema.agradecimiento %}
      <h4>Agradecimiento</h4>
      <p>{{ problema.agradecimiento }}</p>
    {% endif %}
    {% if user.is_authenticated %}
      <div class="well">
        <strong>Env&iacute;a tu soluci&oacute;n</strong>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Sube un archivo</a></li>
            <li><a href="#tab2" data-toggle="tab">Copypega tu c&oacute;digo</a></li>
            <li><a href="#tab3" data-toggle="tab">Resuelve en Karelécatl</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <form method="post" action="./" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="codigo">
                <input type="submit" value="Evaluar" class="btn">
              </form>
            </div>
            <div class="tab-pane" id="tab2">
              <form method="post" action="./">
                {% csrf_token %}
                <textarea name="codigo" rows="10" class="input-xxlarge"></textarea>
                <input type="submit" value="Evaluar" class="btn">
              </form>
            </div>
            <div class="tab-pane" id="tab3">
                <a href="" class="btn btn-info btn-large">¡Vamos!</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="well">
        <strong>Inicia sesión o <a href="/registro">regístrate</a> para enviar soluciones a este problema</strong>
      </div>
    {% endif %}
  </div>
  {% if envio %}
    <!--El problema se envió, así que buscamos por una respuesta-->
    <script>
      var busca_envio = function(){
          $.ajax({
              'url'    : 'http://'+$("#host").val()+'/api/envio/{{ envio }}',
              'type'   : 'get',
              'success': function(msg){
                  if(msg != 'P' && msg != 'S'){
                      clearInterval(interval);
                      var envio = eval('('+msg+')');
                      if(envio.resultado == 'ERROR_COMPILACION'){
                          $("#problem_debug").html('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>¡Error!</strong> '+envio.mensaje+'</div>');
                      }
                      if(envio.resultado == 'CASOS_INCOMPLETOS'){
                          $("#problem_debug").html('<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>¡Advertencia!</strong> '+envio.mensaje+'</div>');
                      }
                      if(envio.resultado == 'OK'){
                          $("#problem_debug").html('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>¡Bien!</strong> '+envio.mensaje+'</div>');
                      }
                      if(envio.resultado == 'CASOS_INCOMPLETOS' || envio.resultado == 'OK') {
                          casos = '';
                          for(var i=0;i<envio.casos.length;i++){
                              casos += '<tr><td>'+(i+1)+'</td><td>'+envio.casos[i].terminacion+'</td><td>'+envio.casos[i].mensaje+'</td><td>'+envio.casos[i].obtenidos+'/'+envio.casos[i].puntos+'</td></tr>';
                          }
                          $('#veredict').html('<div class="well well-small"><table class="table"><tr><th>#</th><th>Terminaci&oacute;n</th><th>Mensaje</th><th>Puntos</th></tr>'+casos+'<tr><td colspan="3"></td><td><strong>Total: '+envio.puntaje+'/100</strong></td></tr></table></div>');
                      }
                      console.log(envio);
                  }
              }
          });
      }
      interval = setInterval(busca_envio, 1000);
    </script>
  {% endif %}
{% endblock %}
