{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Problemas {% endblock %}
{% block contenido %}
  <div class="span12">
    <h4>&iexcl;A programar!</h4>
    <p>Aqu&iacute; encontrar&aacute;s una interesante lista de problemas. No pierdas ni un segundo y dev&oacute;rala de pies a cabeza, te est&aacute;n esperando ansiosos por que los resuelvas.</p>
    <p><strong>¿Quieres aprender el lenguaje primero? <a href="/wiki">entra aquí</a></strong></p>
    <div class="row">
      <div class="span3"></div>
      <div class="span6">
        <h3 style="text-align:center;">Lista de problemas</h3>
        {% for nivel in niveles %}
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th colspan="{% if user.is_authenticated %}5{% else %}4{% endif %}" style="text-align:center;">
                  <p class="lead">{{ nivel.nombre }}</p>
                  <small>{{ nivel.descripcion }}</small>
                </th>
              </tr>
              <tr>
                <th>Problema</th>
                <th><abbr title="Veces">V.</abbr> Resuelto</th>
                <th><abbr title="Veces">V.</abbr> Intentado</th>
                <th>Mejor tiempo</th>
                {% if user.is_authenticated %}
                  <th>T&uacute;</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for problema in nivel.problemas %}
                <tr>
                  <td>
                    <a href="/problema/{{ problema.nombre_administrativo }}">{{ problema.nombre }}</a>
                    {% if problema.es_reciente %}
                      <span class="badge pull-right">nuevo!</span>
                    {% endif %}
                  </td>
                  <td>{{ problema.veces_resuelto }}</td>
                  <td>{{ problema.veces_intentado }}</td>
                  <td>{% ifequal problema.mejor_tiempo -1 %}---{% else %}{{ problema.mejor_tiempo }}{% endifequal %}</td>
                  {% if user.is_authenticated %}
                    <td>
                      {% autoescape off %}
                        {{ problema.mejor_puntaje_usuario }}
                      {% endautoescape %}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      </div>
      <div class="span3"></div>
    </div>
  </div>
{% endblock %}
