{% extends 'template.html' %}
{% load staticfiles sekizai_tags %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span3"></div>
  <div class="span6">
    <h4>&iexcl;Diantres! &iquest;Olvidaste tu usuario/contrase&ntilde;a eh?</h4>
    <p>Descuida, para eso hay gente perdiendo valiosas horas de sue&ntilde;o, dise&ntilde;ando un sistema que te permita recuperarla con un par de clicks, pero por favor, que no se repita... no perder&eacute; todas mis horas de sue&ntilde;o</p>
    <form class="form-horizontal" method="post" action="./">
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label" for="correo">Correo *</label>
        <div class="controls">
          <input type="text" id="correo" name="correo" placeholder="tu@correo.com">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="captcha">&iquest;Eres un robot? *</label>
        <div class="controls">
            <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-large btn-info">Recuperar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="span3"></div>
  {% addtoblock "js" %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  {% endaddtoblock %}
{% endblock %}
