{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Registro {% endblock %}
{% block contenido %}
  <div class="span3"></div>
  <div class="span6">
    <h3>&iexcl;Registraos!</h3>
    <p>A continuaci&oacute;n proporciona tus datos para registrarte en el sistema y poder acumular tus puntajes, participar en concursos y as&iacute;...</p>
    <p></p>
    <p>Al registrarte estás aceptando la siguiente <a href="{% url 'apps.sitio.views.privacidad_view' %}" target="_blank">política de privacidad</a></p>
    <form class="form-horizontal" method="post" action="./">
      {% csrf_token %}
      {% for elemento in formulario %}
        <div class="control-group">
          <label class="control-label" for="id_{{ elemento.html_name }}" id="{{ elemento.html_name }}_label">{{ elemento.label }}</label>
          <div class="controls">
            {{ elemento }}
            {% if elemento.errors %}
              <ul class="unstyled errorlist">
              {% for error in elemento.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="control-group">
        <label class="control-label">¿Eres un robot?</label>
        <div class="controls" id="recaptcha"></div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="hidden" name="id_asesor" value="" id="id_id_asesor">
          <button type="submit" class="btn btn-large btn-info">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
  <div class="span3">
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script>
        Recaptcha.create("{{ RECAPTCHA_PUBLIC_KEY }}", "recaptcha", {
            theme: "clean"
        });
    </script>
  </div>
{% endblock %}
