{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
  <div class="span12">
    <h3>Soporte para el proyecto <em>Karelapan</em></h3>
    <p class="lead">Es un bonito proyecto ¿no crees?</p>
    <p>Karelapan es una plataforma que está para ayudar en el desarrollo de nuevos programadores y como auxiliar en la enseñanza de la programación. El conjunto de herramientas con que cuenta fueron desarrolladas y probadas precisamente con este fin, cuidando el mejor de los rendimientos y la mejor experiencia para el usuario.</p>
    <p class="lead">Karelapan necesita soporte</p>
    <p>Es cierto, karelapan fue desarrollado por amor al arte, y es una genial plataforma por sí misma, pero requiere mantenimiento, actualizaciones, un dominio. Muchas cosas que implican tiempo (mucho, es una plataforma de gran escala) y esfuerzo (y el dominio cuesta). Por esta razón son bien recibidos los apoyos que reciba, económicos o en especie (horas nalga de desarrollo).</p>
    <p>Con tu apoyo karelapan puede crecer más y darle mejor servicio a tu escuela o alumnos.</p>
  </div>
{% endblock %}
