{% extends 'template.html' %}
{% load staticfiles %}
{% block titulo %} {{ usuario }} {% endblock %}
{% block contenido %}
  <div class="span2"></div>
  <div class="span8">
    <h3>{{ usuario }} <small>De {{ usuario.estado }}</small></h3>
    <em><a href="mailto:{{ usuario.correo }}">{{ usuario.correo }}</a></em><br><br>
    <p>{{ usuario.descripcion }}</p>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sobre_mi" data-toggle="tab">Sobre {% ifequal usuario.sexo 'M' %}él{% else %}ella{% endifequal %}</a></li>
        <li><a href="#problemas" data-toggle="tab">Problemas</a></li>
        {% if perms.usuarios.can_change_usuario %}
          <li><a href="#cambia_pass" data-toggle="tab">Cambiar contraseña</a></li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="sobre_mi">
          <p><strong>Pertenece a los grupos</strong> {{ usuario.lista_grupos }}</p>
          <p>
            Ha obtenido {{ usuario.puntaje }} puntos en este evaluador desde el <em>{{ usuario.fecha_registro }}</em><br>
            Resolvi&oacute; {{ usuario.problemas_resueltos }} {% ifequal usuario.problemas_resueltos 1 %}problema{% else %}problemas{% endifequal %} desde entonces.
          </p>
        </div>
        <div class="tab-pane" id="problemas">
          <h4>Problemas resueltos por {% ifequal usuario.sexo 'M' %}él{% else %}ella{% endifequal %}</h4>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Problema</th>
                <th>Mejor tiempo</th>
                <th>Su tiempo</th>
              </tr>
            </thead>
            <tbody>
              {% for problema in usuario.lista_problemas_resueltos %}
                <tr>
                  <td><?=$this->Problema->obtener_nivel($problema->level)->name?></td>
                  <td><a href="<?=base_url()?>problemas/ver/<?=$problema->admin_title?>"><?=$problema->title?></a></td>
                  <td><?=$problema->best_time?></td>
                  <td><?=$this->Usuario->mejor_tiempo($id, $problema->id)?></td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">¡No ha resuelto ningún problema!</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <h4>Problemas intentados por {% ifequal usuario.sexo 'M' %}él{% else %}ella{% endifequal %}</h4>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Problema</th>
                <th>Puntaje</th>
              </tr>
            </thead>
            <tbody>
              {% for problema in usuario.lista_problemas_intentados %}
                <tr>
                  <td><?=$this->Problema->obtener_nivel($problema->level)->name?></td>
                  <td><a href="<?=base_url()?>problemas/ver/<?=$problema->admin_title?>"><?=$problema->title?></a></td>
                  <td><?=badge($this->Usuario->mejor_puntaje($id, $problema->id))?></td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">Tal parece que no ha dejado ningún problema a medias...</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if perms.usuarios.can_change_usuario %}
          <div class="tab-pane" id="cambia_pass">
            <p>Úsese con responsabilidad</p>
            <form method="post" action="{% url 'apps.sitio.views.external_change_pass' %}">
              {% csrf_token %}
              <input type="password" name="pass1" placeholder="poner un pass aquí"><br>
              <input type="password" name="pass2" placeholder="repetir"><br>
              <input type="hidden" name="redirect" value="{{ path }}">
              <input type="hidden" name="usuario" value="{{ usuario.id }}">
              <input type="submit" class="btn" value="Establecer">
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="span2"></div>
{% endblock %}
