{% extends 'mail/template.html' %}
{% block titulo %}Recuperación de Contraseña{% endblock %}
{% block contenido %}
  <td class="w580" width="580">
    <p class="article-title" align="left">
      Recuperar la contraseña
    </p>

    <div class="article-content" align="left">
      <p>Karelapan sospecha que solicitaste recuperación de la contraseña, si es así, sigue el enlace, de lo contrario ignora este mensaje</p>
      <p><a href="http://{{ host }}{% url 'apps.sitio.views.confirma_recuperacion' correo token %}">http://{{ host }}{% url 'apps.sitio.views.confirma_recuperacion' correo token %}</a></p>
    </div>
  </td>
{% endblock %}
